<!DOCTYPE html>
<html lang="en" data-ng-app="App">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="js/socket.io/socket.io.js"></script>
    <script src="js/moment.min.js"></script>
  </head>
  <body data-ng-controller="AppCtrl">

    <ion-pane>
      <ion-header-bar class="bar-dark">
        <button class="button icon ion-navicon" data-ng-click="setting()"></button>
        <h1 class="title">Chat</h1>
        <button ng-show="isConnected" class="button icon ion-close" data-ng-click="disconnect()"></button>
      </ion-header-bar>
      
      <ion-content>
        <ion-list ng-show="!isConnected" >
            <item class="item-input-inset" >
              <label class="item-input-wrapper">
                <input type="text" placeholder="Nick Name" ng-model="nickName">
              </label>
              <button class="button button-small" data-ng-click="join(nickName)">
                Join
              </button>
            </item>
          </ion-list>
        <ion-list>
          <ion-item ng-repeat="item in items track by $index" class="item-input-inset">
            {{item}}
          </ion-item>
        </ion-list>

      </ion-content>

      <ion-footer-bar class="item-input-inset" ng-show="isConnected">
        <label class="item-input-wrapper">
          <input type="text" placeholder="message" ng-model="message" />
        </label>
        <button class="button button-small" data-ng-click="sendMessage()">
          Send
        </button>
      </ion-footer-bar>
        
    </ion-pane>
  </body>
</html>
